/Barnet.csv
/barnet_scraper.py
/Edinburgh - Copy (2).csv
/Edinburgh.csv
/Harrow.csv
/Midlothian - Copy (2).csv
/Midlothian - Copy.csv
/Midlothian.csv
/Midlothian_Scraper.py
/Scraper2.py
/test.csv
/test.json
/venv
/data.json
*.xlsx
/__pycache__
